<header>
  </div>
  <div class=explantion__title>
    「テーマ１：日本人の統計」解説
   </div>
</header>
<body>
  <div class=explantion>
    <div class=explantion__question>
      Q1<br>平均寿命で正しいのはどれ？
    <div class=explantion__answer>
      A,0歳の平均余命である
    <div class=explantion__content>
      解説:平均寿命は産まれたばかりの人が平均して何年生きられるかを表している。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q2<br>2018年の日本人女性の平均寿命はどれ？
    <div class=explantion__answer>
      A,87.32歳
    <div class=explantion__content>
      解説：男性は81.25歳。女性は世界で2位、男性は世界で3位である。男女の世界1位は香港。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q3<br>2018年の平均世帯人数はどれ？
    <div class=explantion__answer>
      A,2.44人
    <div class=explantion__content>
      解説：一人暮らしの割合は14.5%、核家族世帯(夫婦およびその子供のみの世帯)は57.9％。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q4<br>2017年、20歳以上の男性における喫煙習慣者の割合に最も近いのはどれ？
    <div class=explantion__answer>
      A,30%
    <div class=explantion__content>
      解説：男性は29.4%、女性は7.2%。ピークは1966年で、男性は83.7%が喫煙していた。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q5<br>2016年、通院者率が男女とも最も高いのはどれ?
    <div class=explantion__answer>
      A,高血圧症
    <div class=explantion__content>
      解説：腰痛、眼の病気、糖尿病はおよそ20人に1人が通院している。高血圧は10人に1人が通院している。
    </div>
    </div>
    </div>
  </div>
  <div class=top>
    <%=link_to "トップページに戻る", root_path %>
  </div>
</body>