<header>
  </div>
  <div class=explantion__title>
    「テーマ３：日本の社会保障」解説
   </div>
</header>
<body>
  <div class=explantion>
    <div class=explantion__question>
      Q1<br>医療保険はどれ？
    <div class=explantion__answer>
      A,国民健康保険
    <div class=explantion__content>
      解説:日本の国民皆保険とは、国民全員が公的な医療保険に加入することをいう。国民健康保険は市町村が運営、自営業や無職の人が加入する。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q2<br>国民健康保険に加入する30歳男性本人の自己負担割合は？
    <div class=explantion__answer>
      A,3割
    <div class=explantion__content>
      解説：65歳以下の場合医療保険加入者の自己負担は3割となる。高齢者は所得、自治体によって割合が異なる場合がある。生活保護受給者は自己負担なしとなる。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q3<br>医療保険の給付の対象となるのは？'
    <div class=explantion__answer>
      A,疾病の診察
    <div class=explantion__content>
      解説：給付の対象とならないものは自己負担である。レーシック手術の場合、治療を受ける場所によって価格は大きな差があるが、平均20〜30万円程度の費用がかかる。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q4<br>平成29年の国民医療費はどれ？
    <div class=explantion__answer>
      A,約40兆円
    <div class=explantion__content>
      解説：43兆円であり、人口一人当たり33万2000円となる。このうち約2割は薬剤費が占めている。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q5<br>国民医療費に含まれる費用はどれ？
    <div class=explantion__answer>
      A,入院時の食事
    <div class=explantion__content>
      解説：含まれないものは全て自己負担となる。入院中の食事は1食460円と医療保険制度で決められている。
    </div>
    </div>
  </div>
  <div class=top>
    <%=link_to "トップページに戻る", root_path %>
  </div>
</body>