<header>
  </div>
  <div class=explantion__title>
    「テーマ２：人間のからだ」解説
   </div>
</header>
<body>
  <div class=explantion>
    <div class=explantion__question>
      Q1<br>大動脈に血液を送り出す部位はどれ？
    <div class=explantion__answer>
      A,左心室
    <div class=explantion__content>
      解説:左心室→大動脈→大静脈→右心房→右心室→肺動脈→肺静脈→左心房  この流れで全身に血液が循環する。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q2<br>免疫機能に関与する細胞はどれ？
    <div class=explantion__answer>
      A,白血球
    <div class=explantion__content>
      解説：血小板は止血機能、赤血球は酸素運搬機能を持つ。網赤血球は成長する前の赤血球を表す。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q3<br>大腸で吸収されるのはどれ？
    <div class=explantion__answer>
      A,水分
    <div class=explantion__content>
      解説：脂質、糖質、タンパク質全て小腸で吸収される。水分もほとんど小腸で吸収されるが、大腸でも10%程度吸収される。大腸は1.5m程度あり、そこでゆっくりと水分を吸収することで便を水様から固形にする役割がある。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q4<br>胆汁の作用はどれ？
    <div class=explantion__answer>
      A,脂肪の乳化
    <div class=explantion__content>
      解説：胆汁は肝臓で作られ、胆嚢に蓄積され、食事の時に小腸に送られる。脂肪が乳化されると、膵臓からでるリパーゼの働きにより、小腸で吸収されやすくなる。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q5<br>球関節はどれ？
    <div class=explantion__answer>
      A,肩関節
    <div class=explantion__content>
      解説：関節とは骨と骨が連結する部分にあたる。上腕の骨と、肩甲骨はそれぞれ半球のように窪んでいるため、広く動かすことが出来る。腕を回すことができるのも肩関節が球関節であるおかげである。膝関節や肘関節は蝶番関節といわれ、曲げ伸ばしが主な機能になる。下橈尺関節は手の関節を内側に向けたり、外側に向けることができる車軸関節といわれる。
    </div>
    </div>
    </div>
  </div>
  <div class=top>
    <%=link_to "トップページに戻る", root_path %>
  </div>
</body>