<header>
  </div>
  <div class=explantion__title>
    「テーマ4：人間の体と役割」解説
   </div>
</header>
<body>
  <div class=explantion>
    <div class=explantion__question>
      Q1<br>健康な成人の体重における水分の割合は？
    <div class=explantion__answer>
      A,60%
    <div class=explantion__content>
      解説:体重70kgの場合42リットルの水分が体内にある。新生児だと80%が水分を占める一方、高齢者になると50%となり脱水になりやすいとされる。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q2<br>体温調節中枢はどれ？
    <div class=explantion__answer>
      A,視床下部
    <div class=explantion__content>
      解説：皮膚などの温度受容器で感じた温度を、視床下部で設定された温度と比較し発汗したり、体を震えさせて設定された温度に合わせる。小脳は体のバランスを調整する。延髄は呼吸や循環など生命維持に必須の神経が存在する。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q3<br>交感神経の緊張状態はどれ？
    <div class=explantion__answer>
      A,抹消血管の収縮
    <div class=explantion__content>
      解説：交感神経が緊張すると、激しい運動の直後や、緊張している状態の中にあるような体の状態になると例えられる。抹消血管が収縮することで血圧が上昇する。逆にリラックスすると副交感神経が働き、心拍数の低下や気管支、瞳孔の収縮に繋がる。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q4<br>正常な胃液のpHはどれ？
    <div class=explantion__answer>
      A,pH１〜２
    <div class=explantion__content>
      解説：人間の体のpH7.4であるのに対し、胃液はpH１〜２と強い酸性である。この酸性によって食物を殺菌、消化する。なお胃自体が胃液で溶けないのは、胃の内側が粘液が覆っているから。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q5<br>脂質1gが体内で代謝されたときに生じるエネルギー量は？
    <div class=explantion__answer>
      A,9kcal
    <div class=explantion__content>
      解説：脂質1gにつき9kcalのエネルギーとなる。炭水化物、タンパク質は1g代謝されると4kcalとなる。これをアトウォーター係数という。
    </div>
    </div>
  </div>
</body>