<header>
  </div>
  <div class=explantion__title>
    「テーマ5：病気と症状」解説
   </div>
</header>
<body>
  <div class=explantion>
    <div class=explantion__question>
      Q1<br>胸の痛みを訴える病気はどれ？
    <div class=explantion__answer>
      A,急性心筋梗塞
    <div class=explantion__content>
      解説:急性心筋梗塞は一般的に激しい胸の痛みを訴える。（背部など広い範囲の痛みを訴えることもある）腎結石は背部、髄膜炎は頭痛と首の痛みを訴える。メニエール病は頭痛やめまいを引き起こす。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q2<br>抑うつ状態でみられるのはどれ？
    <div class=explantion__answer>
      A,無気力
    <div class=explantion__content>
      解説：抑うつ状態はうつ病ではないものの、気分が落ち込んでいる状態を指し、無気力で不眠や食欲不振などが見られる。ちなみにせん妄は高齢者の入院や手術後に多く見られ、注意力の低下や、今いる場所がわからなくなるなどの症状を指す。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q3<br>貧血とは、抹消血液中の何が不足することを言う？
    <div class=explantion__answer>
      A,ヘモグロビン濃度
    <div class=explantion__content>
      解説：ヘモグロビンは血液の中で酸素を運ぶ機能をもつため、貧血となると体内が酸欠状態になり、疲れやめまい、動悸や息切れを起こす。アルブミン濃度は栄養状態を、血小板数は血の固まるスピードを表す。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q4<br>鮮紅色(鮮やかな赤色)の下血が見られた時の出血部位で正しいのは？
    <div class=explantion__answer>
      A,直腸
    <div class=explantion__content>
      解説：直腸は肛門と近いため、血の色がそのままでる。他の3つは肛門と遠いため、その間に酸素と結びつくことで暗い赤色となる。
    </div>
    </div>
    </div>
    <div class=explantion__question>
      Q5<br>空腹時の腹痛を特徴とする疾患は？
    <div class=explantion__answer>
      A,十二指腸潰瘍
    <div class=explantion__content>
      解説：十二指腸潰瘍は、十二指腸から食べ物がなくなって空っぽになることで、潰瘍(一部が溶けている状態)の部分に痛みを生じる。その他の3つは食事と関連なく痛みを生じる。胃潰瘍は潰瘍になっているところが食物により刺激されることで痛みを生じるため、食後に痛みが強くなりやすい。
    </div>
    </div>
  </div>
  <div class=top>
    <%=link_to "トップページに戻る", root_path %>
  </div>
</body>