<body>
  <section class="container">
    <p id="question"></p>
    <ul id="choices"></ul>
    <div id="btn" class="disabled">次のクイズ</div>

    <section id="result" class="hidden">
    <p></p>
      <div class="sosyal">
        <a href="https://ja-jp.facebook.com/" class="facebook">Facebook</a>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter">Twitter</a>
        <a href="https://www.instagram.com/?hl=ja" class="instagram">Instagram</a>
      </div>
  </section>
<%= javascript_include_tag 'main.js' %>
</body>