<body>
  <section class= container>
    <p class = quiz>問題</p>
    <ul class =choices>
      <li class =selecter>
        選択肢1
      </li>
      <li class =selecter>
        選択肢2
      </li>
      <li class =selecter>
        選択肢3
      </li>
      <li class =selecter>
        選択肢4
      </li>
    </ul>
    <div id=button>
      次のクイズ
    </div>
  </div>
</body>