header {
  background-color: yellowgreen;
  height:50px;
  width:100%;
  display:flex;
}

.header__user {
    margin-left:30px;
    margin-top:15px;
    color:red;
}

.header__title {
    font-size: 23px;
    margin-top:15px;
    margin-left: 420px;
}

body {
  height:calc(100%- 50px);
  position: relative;
}

.attention {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 1.5rem;
}

.quiz{
  border: solid 3px green;
  background-color: yellow;
  width:800px;
  margin: 30px 0 60px 300px;
  padding-left: 60px;
  line-height: 60px;
}

.quiz__info{
  display:flex;
}

.quiz__title {
  font-size: 25px;
  padding-right:50px;
}

.quiz__level {
  font-size: 20px;
  padding-right:50px;
}

.quiz__ravel {
  font-size:20px;
}

.quiz__answer {
  display: flex;
  padding-left:280px;
}

.quiz__user {
  font-size: 20px;
  padding-right:50px;
}

.quiz__average {
  font-size: 20px;
  padding-right:50px;
}

.quiz__ranking {
  font-size: 20px;
}

.exam {
  border: solid 3px black;
  background-color: white;
  text-align: center;
  font-size:20px;
  margin-top: 50px;
  
}

.exams {
  text-align:center;
  font-size:18px;
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
  background-color: white;
  line-height: 40px;
}