body {
  height: 100vh;
  background-color: #efdec1;
}

.container {
  width: 800px;
  margin: 8px auto;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 16px;
  position: relative;
}

#question {
  margin-bottom: 16px;
  text-align: center;
}

#choices {
  padding: 0;
  margin-bottom: 16px
}

#choices > li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#explanation {
  padding: 0;
  margin-bottom: 16px;
  text-align: center;
}

#choices > li:hover {
  background: #f8f8f8;
}

#choices > li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-weight: bold;
}

#choices > li.wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #721c24;
  font-weight: bold;
}

#btn {
  background-color: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 0 #2880b9;
}

#btn.disabled {
  background: #ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;
}

#result {
  position: absolute;
  width: 500px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

#result.hidden {
  transform: translateY(-500px);
}

#result > p {
  font-size: 24px;
}

.sosyal {
  margin: 50px auto;
}
.facebook {
  background-color: #2e4a88;
  text-shadow: 0 -1px -1px #1B3D82;
  
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 40px;
}

.twitter {
  background-color: #008DDE;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 40px;
}

.instagram {
  background:linear-gradient(to right, #5478f2 0%, #f23f79 60%, orange 100%);
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 40px;
}